html, body
{
	height: auto;
	width: 100%;
	margin: 0;
	text-align: center;
}

body > p {
	font-size: 130%;
	max-width: 50%;
	margin: auto;
	margin-bottom: 2%;
	margin-top: 2%;
}

#toptext {
	margin-top: 17%;
}

#container
{
	width: 316px;
	height: 309px;
	border-style: solid; 
	border-color: #820E17;
	margin: auto;
}

#container > div  /* beholderen for tallene */
{
	display: inline-block;
	margin: 1px 1px 1px 1px;
	border-style: solid;
	border-color: #820E17;
}

#container  > div > p /* selve tallene */
{
	color: black;
	font-size: 65px;
	margin: 8px 8px 8px 8px; /* 8% */
	padding: 2px 23px 2px 23px; /* prosenter: 1% 25% 1% 25% */
}

#container > div:nth-child(odd) > p /* velger alle oddetall av p */
{
	background-color: #88CCCB
}

#container > div:nth-child(even) > p /* velger alle partall av p */
{
	background-color: #CB88CD;
}

#container > div > #empty
{
	color: white;
	background-color: white;
}

/*
#CB88CD = rosa
#88CCCB = grønn
#820E17 = brun til ramme
*/